@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #35005e;
}

.box {
  min-width: 600px;
}

.box h2 {
  color: #fff;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 10px;
}

.box input {
  position: relative;
  font-size: 20px;
  box-sizing: border-box;
}

.box input[type="text"] {
  background-color: #fff;
  width: 340px;
  height: 50px;
  border: none;
  outline: none;
  padding: 0 25px;
}

.box select {
  position: relative;
  left: -3px;
  border: none;
  outline: none;
  background-color: #fff;
  font-size: 18px;
  padding: 11px 16px 12px;
  margin: -2px;
  border-right: 15px solid #fff;
}

.box input[type="submit"] {
  position: relative;
  left: -5px;
  width: 150px;
  height: 50px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #ff4282;
  color: #fff;

}

.box input[type="submit"]:hover {
  background-color: #ef296c;
}